.mini-player {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 350px;
  height: 230px;

  background: white;
  border-radius: 8px;
  overflow: hidden;
  padding: 8px;

  z-index: 2000;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}

.mini-player__video-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.mini-player__video {
  position: absolute !important;
  top: 0;
  left: 0;
}

.mini-player__controls {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
